<div class="row">
	<div class="col-5 faded-teal-bg">
		<div class="container white-text">
			<div class="d-flex align-items-center justify-content-center full-height">
				.
			</div>
		</div>
	</div>

	<div class="col-7 full-height pale-yellow-bg">
		<div class="container">
			<div class="d-flex align-items-center justify-content-center full-height white-text">
				.
			</div>
		</div>	
	</div>
</div>