.full-height {
	height: 100vh;
}

.w-100 {
	width: 100%;
}

.h-100 {
  height: 100%
}

.width-260 {
	width: 260px;
}

.width-275 {
  width: 275px;
}

.width-350 {
  width: 350px;
}

.width-10 {
	width: 10px;
}

.z-index-1 {
  z-index: 1;
}

.width-fill {
  width: calc(100% - 350px);  
}

.m-l-350{
  margin-left: 350px;
}


.overflow-scroll {
  overflow: scroll;
}

.d-xs-none {
  @media (max-width: 576px) {
    display: none;
  }
}

.d-sm-none {
  @media (max-width: 768px) {
    display: none;
  }
}

